*
{
    background-color: red;
}
.b1
{
    background-color: blue;
    padding: 20px;
    margin: 50px;
    border-style: solid;
    border-color: aquamarine;
    border-radius: 100%;
    width: 150px;
}
.b2
{
    background-color: rgb(0, 255, 102);
    padding: 20px;
    border-style: solid;
    border-color: aquamarine;
    border-radius:  100%;
}
.b3
{
    background-color: rgb(255, 0, 212);
    padding: 20px;
    border-style: solid;
    border-color: aquamarine;
    border-radius:  100%;

}
.b4
{
    background-color: rgb(183, 255, 0);
    padding: 20px;
    border-style: solid;
    border-color: aquamarine;
    border-radius:  100%;
}
.r1
{
    background-color: rgb(183, 255, 0);
    padding: 20px;
    margin: 50px;
    border-style: solid;
    border-color: aquamarine;
    border-radius: 100%;
    width: 150px;
}
.r2
{
    background-color: rgb(255, 0, 212);
    padding: 20px;
    border-style: solid;
    border-color: aquamarine;
    border-radius: 100%;
}
.r3
{
    background-color: rgb(0, 255, 102);
    padding: 20px;
    border-style: solid;
    border-color: aquamarine;
    border-radius: 100%;
}
.r4
{
    background-color: blue;
    padding: 20px;
    border-style: solid;
    border-color: aquamarine;
    border-radius: 100%;
}
